<launch>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find DiLoMo)/config/dilomo_controller.yaml" command="load"/>

    <!-- Load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/dilomo"
        args="  arm_left_joint_1_position_controller
                arm_left_joint_2_position_controller
                arm_left_joint_3_position_controller
                arm_left_joint_4_position_controller
                arm_left_joint_5_position_controller
                arm_left_joint_6_position_controller
                arm_left_joint_7_position_controller
                arm_right_joint_1_position_controller
                arm_right_joint_2_position_controller
                arm_right_joint_3_position_controller
                arm_right_joint_4_position_controller
                arm_right_joint_5_position_controller
                arm_right_joint_6_position_controller
                arm_right_joint_7_position_controller
                leg_left_joint_1_position_controller
                leg_left_joint_2_position_controller
                leg_left_joint_3_position_controller
                leg_left_joint_4_position_controller
                leg_left_joint_5_position_controller
                leg_right_joint_1_position_controller
                leg_right_joint_2_position_controller
                leg_right_joint_3_position_controller
                leg_right_joint_4_position_controller
                leg_right_joint_5_position_controller
                body_joint_position_controller
                neck_joint_position_controller
                head_joint_position_controller
                joint_state_controller --shutdown-timeout 100"/>

    <!-- Convert joint states to TF transforms for RViz, etc. -->
    <node name="robot_state_1_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/dilomo/joint_states" />
    </node>

</launch>